.input-text,
.input-content{
    display: block;
    margin: 1rem;
}

.comment-container{
    padding: 1rem;
}
.comment-div {
    border: 0.1rem solid gray;
    border-radius: 2rem;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
    display: flex;
    align-items: start;
    justify-content: space-between;
}